@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Light.eot');
    src: url('Cervo-Light.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Light.woff2') format('woff2'),
        url('Cervo-Light.woff') format('woff'),
        url('Cervo-Light.ttf') format('truetype'),
        url('Cervo-Light.svg#Cervo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Thin.eot');
    src: url('Cervo-Thin.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Thin.woff2') format('woff2'),
        url('Cervo-Thin.woff') format('woff'),
        url('Cervo-Thin.ttf') format('truetype'),
        url('Cervo-Thin.svg#Cervo-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-LightItalic.eot');
    src: url('Cervo-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-LightItalic.woff2') format('woff2'),
        url('Cervo-LightItalic.woff') format('woff'),
        url('Cervo-LightItalic.ttf') format('truetype'),
        url('Cervo-LightItalic.svg#Cervo-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo.eot');
    src: url('Cervo.eot?#iefix') format('embedded-opentype'),
        url('Cervo.woff2') format('woff2'),
        url('Cervo.woff') format('woff'),
        url('Cervo.ttf') format('truetype'),
        url('Cervo.svg#Cervo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-MediumItalic.eot');
    src: url('Cervo-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-MediumItalic.woff2') format('woff2'),
        url('Cervo-MediumItalic.woff') format('woff'),
        url('Cervo-MediumItalic.ttf') format('truetype'),
        url('Cervo-MediumItalic.svg#Cervo-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Italic.eot');
    src: url('Cervo-Italic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Italic.woff2') format('woff2'),
        url('Cervo-Italic.woff') format('woff'),
        url('Cervo-Italic.ttf') format('truetype'),
        url('Cervo-Italic.svg#Cervo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-ThinItalic.eot');
    src: url('Cervo-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Cervo-ThinItalic.woff2') format('woff2'),
        url('Cervo-ThinItalic.woff') format('woff'),
        url('Cervo-ThinItalic.ttf') format('truetype'),
        url('Cervo-ThinItalic.svg#Cervo-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cervo';
    src: url('Cervo-Medium.eot');
    src: url('Cervo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Cervo-Medium.woff2') format('woff2'),
        url('Cervo-Medium.woff') format('woff'),
        url('Cervo-Medium.ttf') format('truetype'),
        url('Cervo-Medium.svg#Cervo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

