.highlights-slider {
    position: relative;
    margin-top: -120px;
    padding-top: 120px;
    z-index: $z-ind-1;

    @include media-breakpoint-up(md) {
        padding-bottom: 70px;
    }
    
    &--front {
        padding-bottom: 100px;
        
        @include media-breakpoint-up(md) {
            padding-bottom: 200px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 250px;
        }
    }

    /* Illustrations */
    &__flower {
        position: absolute;
        top: 130px;
        left: -50px;
        width: 125px;
        
        @include media-breakpoint-up(lg) {
            top: 150px;
            left: -80px;
            width: 250px;
        }
    }

    /* Background Text */
    &__bg-text {
        position: absolute;
        top: auto;
        bottom: 365px;
        height: 200px;
        left: 0;
        width: 100vw;
        overflow-x: hidden;

        @media screen and (min-width: 550px) {
            bottom: 465px;
        }
        
        @include media-breakpoint-up(lg) {
            top: 210px;
            bottom: auto;
            height: calc(100% - 210px);
        }

        h1 {
            @include flexbox(space-between, center);
            position: absolute;
            top: 0;
            left: -2vw;
            width: 103vw;
            opacity: 0;
            visibility: hidden;
            margin: 0;
            overflow-x: hidden;

            color: $white;
            font-weight: 400;
            font-size: 120px;
            transition: all ease 1000ms;
            
            @include media-breakpoint-up(lg) {
                font-size: 320px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 420px;
            }

            @include media-breakpoint-up(xxl) {
                left: 0;
                width: 100vw;
            }

            &.is-active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    
    /* Slider */
    &__slider {
        @include media-breakpoint-down(md) {
            order: 2;
            margin-top: 30px;
        }
    }

    &__slider-container {
        padding-top: 120px;

        @include media-breakpoint-up(lg) {
            padding-top: 90px;
        }
    }

    .js-dishes-slider {
        opacity: 0;
        transition: opacity ease 400ms;
        &.is-loaded {
            opacity: 1;
        }
    }

    .flickity-viewport {
        transition: height 0.2s;
        min-height: 500px;
    }

    &__slide {
        width: 100%;
        opacity: 0;
        // transition: all linear 50ms !important;

        &.is-selected {
            opacity: 1;
            // z-index: 99;
        }
    }

    &__bg-leaf {
        top: 30%;
        width: 75%;
        max-width: 600px;
        height: auto;

        @media screen and (min-width: 475px) {
            top: 35%;
        }
 
        @include media-breakpoint-up(lg) {
            top: 255px;
        }
    }

    &__dish-img {
        width: 92%;
        max-width: 600px;

        @include media-breakpoint-up(lg) {
            max-height: 550px;
        }

        @include media-breakpoint-up(xxl) {
            width: 100%;
        }

        &.is-cropped {
            padding: 15px 45px 70px;
            position: relative;
            
            @include media-breakpoint-up(lg) {
                padding: 45px 60px 85px;
            }
        }

        &--front {
            max-height: none;
        }
    }

    &__dish-details {
        color: $navy;
        margin-top: -50px;
        position: relative;
        z-index: $z-ind-2;

        @include media-breakpoint-up(md) {
            margin-left: 90px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: calc(1000px / 12);
        }

        @include media-breakpoint-up(xxl) {
            margin-left: calc(1242px / 12);
        }

        .fish {
            width: 68px;
            height: auto;
            transform: rotate(-2deg);
            transition: transform ease 250ms;
    
            position: absolute;
            top: -30px;
            left: -70px;
        }

        .dish-title {
            @include font($cervo, 24px, 2px, 32px);
            font-weight: 400;
            margin-bottom: 5px;
            padding-top: 12px;
            transition: all ease 250ms;
            
            @include media-breakpoint-up(lg) {
                @include font($cervo, 35px, 4px, 40px);
                margin-bottom: 10px;
            }

            &--front {
                padding-top: 62px;

                @include media-breakpoint-up(lg) { 
                    padding-top: 0;
                }
            }
        }

        .dish-country {
            @include font($cervo, 18px, 1px, 24px);
            margin-bottom: 10px;
            transition: all ease 250ms;

            @include media-breakpoint-up(lg) {
                @include font($cervo, 25px, 4px, 36px);
                margin-bottom: 18px;
            }
        }

        &--front:hover {
            color: $yellow;

            .fish {
                transform: rotate(15deg);
            }
        }
    }

    .c-wave-nav {
        display: none;
        
        @include media-breakpoint-up(md) {
            display: block;
            margin-left: 90px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: calc(1000px / 12);
        }

        @include media-breakpoint-up(xxl) {
            margin-left: calc(1242px / 12);
        }
    }

    .flickity-prev-next-button {
        top: 127px;
        background: none;
        color: rgba($navy, .5);
        transition: color ease 200ms;

        &:hover, &:active {
            color: rgba($navy, 1);
        }

        @include media-breakpoint-down(md) {
            &.next {
                right: -15px;
            }
    
            &.previous {
                left: -15px;
            }
        }

        @media screen and (min-width: 475px) {
            top: 34%;
        }

        @include media-breakpoint-up(lg) {
            top: 265px;
        }

    }



    /* Text/Static Content */
    &__content {
        order: 1;

        @include media-breakpoint-up(md) {
            padding-left: 100px;
        }

        @include media-breakpoint-up(lg) {
            order: 2;
            padding-left: 15px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 50px;
            padding-right: 60px;
        }
    }

    &__title {
        @include font($cervo, 42px, 3px, 48px);
        font-weight: 500;
        color: $navy;
        max-width: 320px;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
    
    &__text {
        @include font($proxima, 13px, 2px, 25px);
        max-width: 260px;
        font-weight: 500;
        text-transform: uppercase;
        color: $navy;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            @include font($proxima, 14px, 2px, 28px);
        }
    }

    &__buttons {
        @include flexbox(center, flex-start);
        flex-direction: column;

        .c-btn--big {
            @include media-breakpoint-down(md) {
                
            }
        }
    }


}