.c-form {
    .wpcf7 {
        [class*="col"] {
            margin-bottom: 40px;
        }

        label,
        .wpcf7-list-item-label {
            @include font ($proxima, 18px, 2px, 30px);
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 10px;    
            display: inline-block;

            @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 25px;
            }
        }

        input.wpcf7-text,
        input.wpcf7-number,
        input.wpcf7-date,
        select.wpcf7-select,
        textarea {
            height: 50px;
            background: $white;
            border: none;
            outline: none;
            border-radius: 0px;
            width: 100%;
            padding-left: 15px;
            color: $navy;
            @include font ($proxima, 14px, 1px, 1.2);
            
            &::placeholder {
                color: rgba($navy, .3);
            }
        }

        input.wpcf7-number,
        input.wpcf7-date,
        select.wpcf7-select {
            padding-left: 15px;
            padding-right: 15px;
        }

        input.wpcf7-date {
            text-transform: uppercase;
        }

        select.wpcf7-select {
            background-image: url('#{$images}icons/arrow-down--blue.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 15px) center;
            background-size: 24px 12px;
            appearance: none;
        }

        .wpcf7-radio {
            .wpcf7-list-item.first {
                margin-left: 0;
            }

            .wpcf7-list-item.last {
                @include media-breakpoint-down(md) {
                    margin-left: 0;
                    margin-top: 12px;
                    width: 100%;
                }
            }

            .wpcf7-list-item-label {
                margin-bottom: 0;
                margin-left: 12px;
                position: relative;
                top: -10px;
            }

            [type="radio"] {
                border-radius: 0px;
                width: 30px;
                height: 30px;
                -webkit-appearance: none;
                box-shadow: none;
                margin: 0;
                position: relative;
    
                &::before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: white;
                    box-shadow: none;
                    -webkit-appearance: none;
                }
    
                &:checked {
                    &::after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        display: block;
                        background-image: url('#{$images}icons/tick.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 17px;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                    }
                }
            }
        }

        .message {
            margin-bottom: 0;
            
            textarea {
                height: 350px;
                padding: 25px 15px 15px;

                @include media-breakpoint-down(md) {
                    padding-top: 30px;
                }
            }
        }


        /* Error messages */
        .wpcf7-response-output {
            background: none;
            border: none;
            padding: 0;
            margin: 0 0 10px;
            @include font($proxima, 14px, 1px, 24px);
        }

        .wpcf7-not-valid-tip {
            @include font($proxima, 14px, 1px, 24px);
            margin-top: 5px;
            color: $blue;
        }
    }


    .c-btn {
        @include media-breakpoint-up(lg) {
            float: right;
        }

        @include media-breakpoint-down(md) {
            display: block;
            max-width: 240px;
            margin: 0 auto;
        }
    }
}